.login h1{
    color: #CDD766;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    margin-top:5%;
}
.login h2{
    color: #CDD766;
    font-size: 22px;
    font-weight: 700;
}
.login{
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}
.form h1{
    color: #D1D1D1;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 2px;
    margin-top: 7%;
}
#pp{
    color: #D1D1D1;
    font-size: 18px;
    font-style: normal;
    line-height: normal;
    margin: 2px;
  
}
form{
    text-align: center;
    display: flex;
    position: relative;
    flex-direction: column;
}
#user{
    color:#D1D1D1;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    left:230px;
    bottom:-50px ;
    
}
#lock{
    color:#D1D1D1;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    left:230px;
    bottom:-50px ;
}
.line1,.line2{
    color:#D1D1D1;

}
#btt{
    position: relative;
    display: flex;
    flex-direction: column;
 
}

.type {
    margin: 30px;
    width: 300px;
    height: 50px;
    background: transparent;
    border-width: 2px;
    color: #c8c6c6;
    border-color: #D1D1D1;
    border-style: solid;
    stroke-width: 1px;
    outline: 1px;
    border-radius: 12px;
    font-size: 17px;
    font-weight: 400;
    padding-right: 30px; 
    padding-left: 35px;
} 

@media screen and (max-width : 698px) {
    .login h2{
        font-size: 15px;
        text-align: center;
    }
    ::placeholder{
        text-align: center;
    }
    #user,#lock{
        left:35px;
    }
}
@media screen and (max-width : 864px) {
    .login h2{
        font-size: 14px;
        text-align: center;
        margin-bottom: -10px;
    }
    .login h1{
        font-size: 16px;
        text-align: center;
        margin-bottom: -8px;
    }
    #user,#lock{
        left:35px;
    }
    ::placeholder{
        text-align: left;
        padding-left: 35px;
    }
    #pp{
        font-size: 16px;
        margin-bottom:-12px;
    }
}
